@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --color1: #5EA529;
  --color2: #D8F999;
  --color3: #FAFAF9;
  --color4: #192E03;
  --color5: #F54927;
  --color6: #FF692A;
  
}

.dark {
  --color1: #1D293D;
  --color2: #CAD5E2;
  --color3: #FAFAF9;
  --color4: #020618;
  --color5: #FE9A37;
  --color6: #F0B13B;
}