@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --color1: #5ea529;
  --color2: #d8f999;
  --color3: #fafaf9;
  --color4: #192e03;
  --color5: #f54927;
  --color6: #ff692a;
}

.dark {
  --color1: #1d293d;
  --color2: #cad5e2;
  --color3: #fafaf9;
  --color4: #020618;
  --color5: #fe9a37;
  --color6: #f0b13b;
}
